<!DOCTYPE html>
<html lang="en" ng-app="greenBin">
<head>
  <title>GreenBin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>


  <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <script src="angular.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
  <script src="controllers/greenBin.js"></script>
  <script src="ngmodules/angular-route.js"></script>

  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="directives/ng-tag/ng-tags-input.min.css"> 
  <link rel="stylesheet" href="directives/ng-tag/ng-tags-input.bootstrap.min.css">   

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="directives/ngAutocomplete.js"></script>
  <script type="text/javascript" src="directives/ng-map.min.js"></script>

  <script src="bower_components/lodash/dist/lodash.compat.js"></script>
  <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
  <script type="text/javascript" src="directives/ng-tag/ng-tags-input.min.js"></script>

</head>

<body ng-controller="greenBinCtrl">
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> 
      		<img alt="brand" class="pull-left" src="./images/GbLogo-1.gif" height="30" width="30">GreenBin
      </a>
    </div>
    <div ng-controller="navLinkActiveCtrl">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('')}"><a href="#">Home</a></li>
        <li ng-class="{ active: isActive('/product')}" ><a href="#/product">Product</a></li>
        <li ng-class="{ active: isActive('/postAnAd')}" ><a href="#/postAnAd">Post an Ad</a></li>
        <li ng-class="{ active: isActive('/searchResults')}" ><a href="#/searchResults">Search Result</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li><div><input ng-model="searchtext"><a href="#" class="btn btn-lg"> <span class="glyphicon glyphicon-search"></span> </a></div></li>
        <li ng-class="{ active: isActive('/aboutUs')}"><a href="#/aboutUs">About</a></li>
      </ul>
    </div>
  </div>
 </nav>
 
 <ng-view />

</body>
</html>
