<div class="container" style="background-color: WhiteSmoke;">
  <div class="row"> 

      <div ng-controller="CarouselDemoCtrl">
        <div style="height: 305">
          <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
              <img ng-src="{{slide.image}}" style="margin:auto;">
              <div class="carousel-caption">
                <!--h4>Slide {{$index}}</h4-->
                <p>{{slide.text}}</p>
              </div>
            </slide>
          </carousel>
        </div>
   </div>
  </div> 

  
  <div class="row">
      <div>
        <p class="bg-primary text-center"> Lastest Products </p>
      </div>
      <div class=" well col-md-4" ng-repeat="item in data.products | limitTo: 9 ">
        <h4>
        	<strong>{{item.title}}</strong>
        	<span class="pull-right label label-primary">
        		{{item.tags}}
        	</span>
        </h4>
        <span class="lead">{{item.description}}</span>
      </div>
      <div class="clearfix visible-lg"></div>
  </div>
</div>
