
<div class="container" style="background-color: WhiteSmoke;">
	<div>
		<h2 style="background-color: #D3FFA7;">Post an Ad <small>Details</small></h2>
	</div>
		
		<div class="row">
			<div class="col-md-4 text-center">
				<h3>Title</h3>
				<input  type="text" 
						placeholder="Exmple: Bicycle BMX Old School" 
						popover="Generally, a shorter title is better"  
						popover-trigger="focus" 
						class="form-control"
						ng-model="data.ad.title"
						>
				<hr></hr>
			</div>

			<div class="col-md-4 text-center">
				<h3>Item Condition</h3>
				<div ng-controller="ButtonsCtrl">
					<div class="btn-group">
				        <label class="btn btn-danger btn-block" ng-model="data.ad.itemCondition" btn-radio="'1'">Need fixing</label>
				        <label class="btn btn-warning btn-block" ng-model="data.ad.itemCondition" btn-radio="'2'">Need minimum repair</label>
				        <label class="btn btn-success btn-block" ng-model="data.ad.itemCondition" btn-radio="'3'">Ready to use</label>
				        <label class="btn btn-primary btn-block" ng-model="data.ad.itemCondition" btn-radio="'4'">Like brand new!</label>
				        <p>{{data.ad.itemCondition}}</p>
				    </div>
				</div>
				<hr></hr>
			</div>

			<div class="col-md-4 text-center">
				<h3>Description</h3>
				<input type="text" 
					   placeholder="Some description about the item..." 
					   popover="Briefly explain pros and cons of this item"  
					   popover-trigger="focus" 
					   class="form-control"
					   ng-model="data.ad.description"
					   >
				<hr></hr>
			</div>
		</div>
		
		<div class="row">
			
			<div class="col-md-4 text-center">
				<h3>Item Location</h3>
				<div ng-controller="AutocompleteLocationCtrl">
					
					    <input class="form-control" type="text" ng-model="data.ad.location"  ng-autocomplete options="options" details="details"/>
					    
						<p>autocomplete: {{data.ad.location}}</p>
					    <p>details (formatted address): {{details.formatted_address}}</p>
					    <p>details (lat lng): {{details.geometry.location.lat()}}</p>
					    <p>details (lat lng): {{details.geometry.location.lng()}}</p>
					    <p>{{details.geometry.location.lat() +","+ details.geometry.location.lng()}}</p>
					    <p>details (lat lng): {{details.geometry.location}}</p>
				</div>	
				<hr></hr>	
			</div>	
			<div class="col-md-4 text-center">
				<h3>Pick Up Date!</h3>
				<div ng-controller="DatepickerDemoCtrl">
				    <div style="display:inline-block; min-height:50px;">
				        <datepicker ng-model="data.ad.pickUpDate" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
				    </div>
				</div>
				<hr></hr>    
			</div>
				<div class="col-md-1 text-center">	
					
				</div>	
				<div ng-controller="TimepickerCtrl">
				<div class="col-md-2 text-center">	
					
						<h3>Between</h3>
						<timepicker ng-model="data.ad.pickUpTimeFrom" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
						<h3>&</h3>
						<timepicker ng-model="data.ad.pickUpTimeTo" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
						<pre class="alert alert-info">Time is: {{mytime | date:'shortTime' }}</pre>
				      
				</div>    
				</div>
			
		</div>

		<div class="row">
			<div class="col-md-4 text-center">
				<h3>Keywords / Tags</h3>
				<div ng-controller="TagsMainCtrl">
				    <tags-input ng-model="data.ad.tags" popover=""   popover-trigger="mouseenter">
				      <auto-complete source="loadTags($query)"></auto-complete>
				      <!--<input type="text" value="{{data.ad.tags}}"/>-->
				    </tags-input>
				</div>
				<hr></hr>
			</div>
			<div class="col-md-4 text-center">
				<h3>Contact Number</h3>
				<input type="text" ng-model="data.ad.contactNumber" placeholder="Exmple: 0486556622" class="form-control" >
				<hr></hr>
			</div>
			<div class="col-md-4 text-center">
				<h3>Email</h3>
				<input type="email" name="email" placeholder="email@email.com.au" class="form-control" ng-model="data.ad.email">
				<hr></hr>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-primary btn-block" ng-click="postAd(data.ad)" >Post Ad Now!</button>
				<hr></hr>
			</div>			
		</div>

</div>
