<div class="container" style="background-color: WhiteSmoke;" >	
	<div class="row">
		<div class="col-md-12 show-grid">
			<h2 style="background-color: #D3FFA7;">Product <small>Details</small></h2>
		</div>
	</div>
	<div class="row"> 
	    <div class="col-md-6 show-grid">
	    <p></p>
	       <div ng-controller="CarouselDemoCtrl">
	        <div style="height: 305">
	          <carousel interval="myInterval">
	            <slide ng-repeat="slide in slides" active="slide.active">
	              <img ng-src="{{slide.image}}" style="margin:auto;">
	              <div class="carousel-caption">
	                <!--h4>Slide {{$index}}</h4-->
	                <p>{{slide.text}}</p>
	              </div>
	            </slide>
	          </carousel>
	        </div>
	       </div>
	    </div>
	    <div class="col-md-6 show-grid">
					<h2>Product Title<small> - Small Category</small></h2>
					<div class="product-desc">The Corsair Gaming Series GS600 is the ideal price/performance choice for mid-spec gaming PC</div>
					
					<hr>
					 Pick up date: 25/06/2015
					</hr>
					<hr>
					<div class="btn-group cart">
						<button type="button" class="btn btn-success">
							Contact for Pick up 
						</button>
					</div>
					<div class="btn-group wishlist">
						<button type="button" class="btn btn-danger">
							Add to wishlist 
						</button>
					</div>
					</hr>
					 
					<hr>
					<div class="text-left left-block">
					         				          	
					             <a href="https://www.facebook.com/bootsnipp"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
						         <a href="https://twitter.com/bootsnipp"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
						         <a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
						         <a href="mailto:bootsnipp@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>

					</div>
					</hr>
		</div>
	</div>	
				
	<div class="row">
		<div ng-controller="MapTabCtrl">	 
			<tabset>
		        <tab heading="Description" active="activeTab1">
		          <p>Basing your work on buyer personas prevents you from sitting on your butt in your comfortable office just making stuff up, which is the cause of most ineffective marketing. ~ David Meerman Scott</p>

				  <p>A buyer persona is an imaginary customer. It is the person for whom you’ve developed your product and to whom you’d love to sell it (of course!). He or she represents your target audience, but is much more real than a vague description of some demographics.</p>

				  <p>Basing your work on buyer personas prevents you from sitting on your butt in your comfortable office just making stuff up, which is the cause of most ineffective marketing. ~ David Meerman Scott</p>

				  <p>A buyer persona is an imaginary customer. It is the person for whom you’ve developed your product and to whom you’d love to sell it (of course!). He or she represents your target audience, but is much more real than a vague description of some demographics.</p>
		        </tab>
		        <tab heading="Location" active="activeTab2" select="tabTab2()">
		          
		          <div id="newMap" class="col-sm-12" style="height: 400px;"></div>
		        </tab>
		        
    		</tabset>
	    </div>
	</div>	 
		
			
	<div class="row">
      <div>
        <p class="bg-primary text-center"> Lastest Related Products </p>
      </div>
      <div class=" well col-md-4" ng-repeat="item in data.products | limitTo: 6 | filter: { category: 'TV'}">
        <h3>
        	<strong>{{item.name}}</strong>
        	<span class="pull-right label label-primary">
        		{{item.category}}
        	</span>
        </h3>
        <span class="lead">{{item.description}}</span>
      </div>
      <div class="clearfix visible-lg"></div>
  	</div>     
</div>	